@model MvcProj.Models.Browar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Browar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KrajPochodzenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KrajPochodzenia)
        </dd>
    </dl>
</div>
<div>
    <button type="button" class="btn btn-info"><a asp-action="Edit" asp-route-id="@Model.Id" style="color:white; text-decoration: none">Edytuj</a></button> |
    <button type="button" class="btn btn-info"><a asp-action="Index" style=" color:white; text-decoration: none">Powrót do listy</a></button>
</div>
