@model IEnumerable<MvcProj.Models.Browar>

@{
    ViewData["Title"] = "Index";
}

<h3>Katalog browarów</h3>

<hr/>
<table class="table table-hover" style="text-align:center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KrajPochodzenia)
            </th>
            <th>
                <button type="button" class="btn btn-secondary"><a asp-action="Create" style="color:white; text-decoration: none">Dodaj browar</a></button>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KrajPochodzenia)
            </td>
            <td>
                 <button type="button" class="btn btn-info"><a asp-action="Edit" asp-route-id="@item.Id" style="color:white; text-decoration: none">Edytuj</a></button> |
                 <button type="button" class="btn btn-info"><a asp-action="Details" asp-route-id="@item.Id" style="color:white; text-decoration: none">Szczegóły</a></button> |
                 <button type="button" class="btn btn-info"><a asp-action="Delete" asp-route-id="@item.Id" style="color:white; text-decoration: none">Usuń</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
